body {
	background-image:url('/background/background.png')
}

.hero{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	border: 1px solid white;
	opacity: 0.3;
	-moz-border-radius: 15px;
	border-radius: 10px;
	padding-top:40px;
	padding-bottom:25px;
}


div.tag{
	opacity:1;
	font-family:helvetica;
	color:black;
	font-size:30px;
}

h1#title{
	font-size: 120px;
	line-height: 1;
}

@media only screen and (max-width: 800px) {
	body { font-size:100%;}
}  
     
@media only screen and (max-width: 1100px) {
    body { font-size:120%;}
} 

div.content{
	color:#5a5e61;
	margin-top:20px;
	margin-left:20%;
	margin-right:20%;
}

.start-up-desc{
	display:block;
	width:100%;
	margin-top:10px;
	min-height:100px;
}

input[type="text"]{
    
    /*padding: 5px;   */
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
input[type="text"]:hover
{
    border:1px solid #cccccc;
}
input[type="text"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}

.center{
	display:block;
	margin:auto;
}